.inputAdd{
    width: 100%;
    background-color: #464a57;
    border: none;
    border-radius: 10px;
    height: 50px;
    color: #FFF;
}

.btnFormExc{
    border: none;
    background-color: #ca3737;
    height: 50px;
    border-radius: 10px;
    transition: background-color 2s ease-out;
}
.btnFormExc:hover{
    background-color: #8b2626;
}

@media(max-width:1100px){
    .containerInputs{
        width: 50%;
    }
    .buttonsForm{
        margin-top: 10%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
    }
}