.NavBar *{
    color: #FFF;
    background-color: #2A2E3B;
    align-items: center;
    display: flex;
}
.NavBar{
    color: #FFF;
    background-color: #2A2E3B;
    height: 55px;
    align-items: center;
    display: flex;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.TitleNav{
    margin-left: 10%;
    margin-right: 10px;
    color: #6038f1;
}

.LinkNav{
    margin-left: 10px;
    height: 5px;
    text-decoration: none;
    transition: color 1s ease-out;
}

.LinkNav:hover{
    color: #6038f1 ;
}


.SubBar{
    height: 20px;
    width: 80%;
    margin: auto;
}


.button{
    text-decoration: none;
    margin-right: 40px;
    margin-left: 40%;
    border-radius: 20px;
    background-color: #47C963;
    height: 30px;
    border: none;
    padding: 20px 45px;
    transition: background-color 2s ease-out;
}

.button:hover{
    background-color:#2f8040;
    color: #FFF;
}



