div.NavBar *{
    color: #FFF;
    background-color: #2A2E3B;
    height: 55px;
    align-items: center;
    display: flex;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
}
nav h1{
    margin-left: 10%;
    margin-right: 10px;
}

nav a{
    margin-left: 10px;
    text-decoration: none;
}

div.NavBar .button{
    margin-left: 59%;
    margin-right: 40px;
    border-radius: 20px;
    background-color: rgb(29, 90, 70);
    border: none;
    padding: 5px 20px;
    transition: background-color 2s ease-out;
}

div.NavBar .button:hover{
    background-color:rgb(20, 80, 70);
}



