*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #1C1B24;
    color: #FFF;
}
 .Geral{
    width: 80%;
    margin: auto;
 }
.title{
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div .title h1{
    font-size: 100px;
    color: #6038f1;
}
.pagContatos{
    text-align: center;
    display: flex;
    justify-content: center;
}

.title{
    text-align: center;
}
.conteudo{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #2A2E3B;
}

div.conteudo h1{
    background-color: #2A2E3B;
}
div.conteudo h4{
    background-color: #2A2E3B;
}
.img{
    border-radius: 100%;
    width: 265px;
    height: 265px;
    background: no-repeat center;
    background-size: cover; 
}
.btnEdit{
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #48348f;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    transition: background-color 2s ease-out;
}

.btnEdit:hover{
    background-color: #342470;
    color: #FFF;
}

.btnExc{
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: none;
    background-color: #862958;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    transition: background-color 2s ease-out;
}

.btnExc:hover{
    background-color: #5c1b3b;
    color: #FFF;
}

.contato{
    margin-top: 100px;
    background-color: #2A2E3B;
    border: 0px solid #4f4681;
    border-radius: 5px;
    width: 370px;
    padding: 20px;
    text-align: center;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width:1100px) {
    .pagContatos{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}