*{
    margin: 0;
    padding: 0;
    color: #FFF;
}
.criador{
    font-family: 'Times New Roman', Times, serif;
}
.GeralH{
    font-family: 'Roboto Condensed';
    width: 80%;
    margin: auto;
 }
.title{
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TitleCont{
    font-family: 'Times New Roman', Times, serif;
}
div .title h1{
    font-size: 100px;
    color: #6038f1;
}
.pagContatosHome{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.conteudoHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #2A2E3B;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    padding: 20px;
}
.conteudoHome *{
    background-color: #2A2E3B;
}
.conteudoHome p{
    background-color: #2A2E3B;
    margin: 0;
}

.React *{
    background-color: #2A2E3B;
    margin: 0;
}

.ReactTitle{
    background-color: #2A2E3B;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.ReactTitle img{
    width: 80px;
    height: 40px;
}

div.conteudoHome h1{
    background-color: #2A2E3B;
    margin-left: 10px;
}
div.conteudoHome h4{
    background-color: #2A2E3B;
    margin-left: 10px;
}

.logoNet{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 10px;
    background-color: #7123d8;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.buttonsHome{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.buttonsHmL{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-decoration: none;
    border: none;
    height: 50px;
    width: 170px;
    border-radius: 20px;
    background-color: rgb(34, 168, 162);
    margin-top: 20px;
    transition: background-color 1s ease-out;
}
.buttonsHmL:hover{
    color: #FFF;
    background-color: rgb(23, 109, 105);
}
.buttonsHmA{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-decoration: none;
    border: none;
    height: 50px;
    width: 170px;
    border-radius: 20px;
    background-color: rgb(63, 172, 121);
    margin-top: 20px;
    margin-left: 10px;
    transition: background-color 1s ease-out;
}
.buttonsHmA:hover{
    color: #FFF;
    background-color: rgb(39, 109, 76);
}
.buttonsHmC{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-decoration: none;
    border: none;
    height: 50px;
    width: 170px;
    border-radius: 20px;
    background-color: rgb(212, 79, 79);
    margin-top: 20px;
    margin-left: 10px;
    transition: background-color 1s ease-out;
}
.buttonsHmC:hover{
    background-color: rgb(131, 49, 49);
    color: #FFF;
}
@media(max-width:1100px) {
    .conteudoHome{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        text-align: center;
        padding: 20px;
    }
}