.NavBar *{
    color: #FFF;
    background-color: #2A2E3B;
    align-items: center;
    display: flex;
}
.NavBar{
    color: #FFF;
    background-color: #2A2E3B;
    height: 55px;
    align-items: center;
    display: flex;
}

nav{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
.TitleNav{
    font-family: 'Times New Roman', Times, serif;
    color: #6038f1;
}

.LinkNav{
    margin-left: 10px;
    height: 20px;
    text-decoration: none;
    transition: color 1s ease-out;
}

.LinkNav:hover{
    color: #6038f1 ;
}

.SubBar{
    height: 30px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-around;
}


.button{
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    background-color: #47C963;
    height: 30px;
    border: none;
    padding: 20px 45px;
    transition: background-color 1s ease-out;
}

.button:hover{
    background-color:#379e4e;
    color: #FFF;
    
}




