.message{
    width: 100%;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 5px;
}

.alert{
    background-color: orange;
    width: 100%;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 5px;
}

.add{
    background-color: rgb(24, 185, 91);
    width: 100%;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 5px;
}