.buttonsFormEdt{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.containerInputs .btnEdtCont {
    border: none;
    height: 50px;
    color: #ffffff;
    background-color: #42c8e0;
    border-radius: 10px;
}
.btnEdtCont:hover{
    background-color: #3caec2;
}
.error-message{
    color: rgb(255, 0, 0);
}
@media(max-width:1100px){
    .containerInputs{
        width: 50%;
    }
}