.inputAdd{
    padding: 5px;
    width: 100%;
    background-color: #464a57;
    border: none;
    border-radius: 10px;
    height: 50px;
    color: #FFF;
}

.inputAdd:focus-visible{
    background-color: #515666;
    outline: 1px solid  #58deff;
}

.buttonsFormEdt{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.containerInputs .btnEdtCont {
    border: none;
    height: 50px;
    color: #ffffff;
    background-color: #42c8e0;
    border-radius: 10px;
    transition: background-color 1s ease-out;
}
.btnEdtCont:hover{
    background-color: #36a1b4;
}
.error-message{
    color: rgb(255, 0, 0);
}
